@font-face {
  font-family: 'Quicksand-Regular';
  src: local('Quicksand Regular'), local('Quicksand-Regular'),
    url('../fonts/Quicksand-Regular.woff2') format('woff2'),
    url('../fonts/Quicksand-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') sans-serifformat('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand-Medium';
  src: local('Quicksand Medium'), local('Quicksand-Medium'),
    url('../fonts/Quicksand-Medium.woff2') format('woff2'),
    url('../fonts/Quicksand-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}