@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
  padding: 40px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 35px;
    &:last-child{
      margin-right: 0;
    }
  }

  &__list-link {
    @extend %roboto-400;
    text-transform: uppercase;
    color: $title-color;
    padding-bottom: 1px;
    transition: all 0.3s;
    &:hover{
      @extend %roboto-700;
      color: $accent-color;
      border-bottom: 1px solid $accent-color;
    }
  }
  &__list-link--active{
    @extend %roboto-700;
    color: $accent-color;
    border-bottom: 1px solid $accent-color;
  }
}

.user-nav {
  display: flex;
  &__link {
    margin-right: 25px;
    position: relative;
    &:last-child{
      margin-right: 0;
    }
  }

  &__num {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $accent-color;
    color: #fff;
    top: -9px;
    right: -14px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }
}




@import 'media';




